*{
    margin: 0px;
    padding: 0px;
}
.nav-btn{
    all: unset;
    padding: 8px 12px;
    border: 1px solid #7AB2D3;
    background-color: #7AB2D3;
    color: #fff;
    border-radius: 5px;
}
.nav-btn:hover{
    background-color: #fff;
    border-color: #7AB2D3;
    color: #7AB2D3;
}
.hero-section{
    background-color: rgb(255, 240, 229);
}
.hero-1{
    margin-top: 14%;
}
.hero-txt{
    margin-top: 14%;
    font-size: 3rem;
}
.hero-btn{
    all: unset;
    padding:13px 35px;
    border-radius: 5px;
    background-color: rgb(161, 221, 112);
    color: #fff;
}
.hero-2{
    margin-top: 60%;
    margin-left: 40%;
}
@media (max-width: 768px) {
    .hero-2 {
        margin-top: 10%;
        margin-left: 0px;
    }
    .hero-1{
        margin-right: 0px !important;
    }
    .hero-txt{
        font-size: 2.5rem !important;
    }
}
.hero-sec-p{
    color: #F96E2A;
    font-weight: bolder;
}
.icon1{
    background-color: #FC8F54;
}
.icon2{
    background-color: #CB9DF0;
}
.icon3{
    background-color: #88C273;
}
.icon4{
    background-color: #80C4E9;
}
.card{
    border: 1px solid #ccc;
    width:285px;
    height: 85px;
    border-radius: 5px;
}
.mar{
    margin-right: 15% !important;
}